snippet clg "console.log()" b
console.log(${1:'$2', $3})
endsnippet

snippet fn "() => {}" i
const $1 = ${2:($3)} => ${4:{
  $5
}};
endsnippet

snippet arf "() => {}" i
${1:($2)} => ${3:{$4}};
endsnippet
